body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #7B68EE;
  color: white;
  text-align: center;
  padding: 20px;
}

.cartao {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}